
body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
}
.logo {
    width: 100px;
    margin: 20px auto;
}
.login-container, .painel-container, .form-container {
    background: #fff;
    padding: 30px;
    margin: 40px auto;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}
input, select {
    width: 30%;
    padding: 10px;
    margin: 10px 5px;
    font-size: 14px;
}
.botao, button {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 12px;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
.sair {
    background: red;
}
