
body {
    background-color: #f2fdf2;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 30px;
}

.container {
    max-width: 400px;
    margin: auto;
}

.logo {
    width: 120px;
    margin-bottom: 20px;
}

h1 {
    color: #2f7f32;
    margin-bottom: 30px;
}

.botao {
    display: block;
    background-color: #2f7f32;
    color: white;
    text-decoration: none;
    padding: 12px;
    margin: 10px auto;
    border-radius: 6px;
    width: 250px;
    font-size: 16px;
    font-weight: bold;
}

.botao:hover {
    background-color: #256427;
}

.sair {
    background-color: #ba1e1e;
}

.sair:hover {
    background-color: #a31212;
}
